  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,500&display=swap');

  :root {
      --primary: #9B9162;
      --brown-primary: #42210B;
      --brown-secondary: #7e451f;
      --grey-1: #D1C4B8;
      --green-primary: #685B11;
      --green-secondary: #B8B288;
      --white: #ffffff;
      --beige: #f8f3d3;
      --red: #e42d2d;
  }

  .header-icon a {
      color: var(--brown);
  }

  .header-icon a:visited,
  .header-icon a:active {
      color: var(--brown-secondary);
  }

  .header-icon a:hover {
      color: var(--white);
  }


  body {
      margin: 0;
      padding: 0;
      font-family: 'Rubik', sans-serif;
  }

  header {
      background-color: var(--primary);
  }

  .top-header {
      max-width: 1280px;
      height: 134px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      box-sizing: border-box;
      margin: 0 auto;
  }

  .top-header .dark-mode {
      position: absolute;
      top: 20px;
      right: 130px;
  }

  .top-header .dark-mode:hover {
      color: var(--white);
  }

  .top-header .light-mode {
      position: absolute;
      top: 20px;
      right: 130px;
      display: none;
  }

  .top-header .logo {
      margin: 0 auto;
  }

  .top-header .img-circle {
      border-radius: 50%;
      box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
      margin: 10px auto;
  }

  .top-header .header-column {
      margin: 0 auto;
      width: 35px;
      display: block;
      position: relative;
      box-sizing: border-box;
  }

  .top-header .header-column .header-icon svg {
      margin-top: 8px;
  }

  .divider {
      height: 15px;
      background-color: var(--white);
  }

  .nav-bar {
      height: 35px;
      background-color: var(--green-secondary);
  }

  .nav-bar nav {
      max-width: 1280px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      box-sizing: border-box;
  }

  .nav-bar nav li {
      list-style-type: none;
      padding-top: 8px;
  }

  .nav-bar nav li a:link,
  a:visited {
      text-decoration: none;
      color: var(--brown);
      padding: 5px 35px;
  }

  .nav-bar nav li a:hover {
      background-color: var(--brown-primary);
      border-radius: 7px;
      color: var(--white);
  }

  main {
      /*background-color: var(--beige);*/
      background-color: var(--brown-secondary);
      box-sizing: border-box;
  }

  section.hero {
      height: 620px;
      max-width: 1280px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      box-sizing: border-box;
  }


  section.hero article.top-left {
      grid-column: 1/2;
  }

  section.hero article.bottom-left {
      grid-row: 2/3;
  }

  section.hero article.right {
      grid-row: 1 / span 2;
  }

  section.hero article .hero-header {
      position: absolute;
      top: 10px;
      width: 630px;
      font-size: 2em;
      color: var(--beige);
      text-shadow: 4px 4px 2px rgba(105, 101, 101, 0.6);
      margin: 0 auto;
      display: block;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
  }

  section.hero article a:link,
  a:visited {
      position: absolute;
      top: 220px;
      left: 215px;
      color: var(--green-primary);
      font-size: 1.5em;
      text-decoration: none;
      text-align: center;
      background-color: var(--white);
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }

  section.hero article a:hover {
      color: var(--brown-primary);
  }

  .hero {
      position: relative;
  }

  .hero .hero-subheader {
      position: absolute;
      top: 520px;
      left: 400px;
      color: var(--red);
      background-color: var(--white);
      font-size: 1.5em;
      padding: 10px 70px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }

  main .scooter {
      max-width: 1280px;
      margin: 0 auto;
      position: relative;
  }


  main .scooter .scooter-header {
      position: absolute;
      color: var(--white);
      top: 80px;
      left: 200px;
      background-color: var(--primary);
      font-size: 1.5em;
      padding: 10px 30px;
      border-radius: 10px;
  }

  main .scooter .scooter-paragraph {
      max-width: 450px;
      position: absolute;
      top: 250px;
      left: 250px;
      color: var(--white);
      background-color: var(--green-primary);
      padding: 30px;
      border-radius: 10px;
      font-size: 1.2em;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }

  main .scooter img {
      border-radius: 10px;
  }


  main .jeep {
      max-width: 1280px;
      margin: 0 auto;
      position: relative;
  }

  main .jeep .jeep-header {
      position: absolute;
      color: var(--white);
      top: 80px;
      left: 200px;
      background-color: var(--primary);
      font-size: 1.5em;
      padding: 10px 30px;
      border-radius: 10px;
  }

  main .jeep .jeep-paragraph {
      max-width: 450px;
      position: absolute;
      top: 250px;
      left: 250px;
      color: var(--white);
      background-color: var(--green-primary);
      padding: 30px;
      border-radius: 10px;
      font-size: 1.2em;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }

  main .jeep img {
      border-radius: 10px;
  }

  footer {
      height: 300px;
  }

  @media (max-width:400px) {
      .top-header {
          max-width: 400px;
          height: 134px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          box-sizing: border-box;
          margin: 0 auto;
      }

      .top-header .img-circle {
          display: none;
      }

      .top-header .header-column {
          position: absolute;
          right: 5px;
          width: 35px;
          display: block;
          box-sizing: border-box;
      }

      .top-header .dark-mode {
          position: absolute;
          top: 15px;
          right: 80px;
      }

      .top-header .dark-mode:hover {
          color: var(--white);
      }

      .top-header .light-mode {
          position: absolute;
          top: 15px;
          right: 80px;
          display: none;
      }

      main {
          background-color: var(--beige);
      }

      section.hero {
          max-width: 400px;
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1fr;
          box-sizing: border-box;
      }

      section.hero article .hero-header {
          position: absolute;
          top: 10px;
          width: 400px;
          font-size: 1em;
          color: var(--beige);
          text-shadow: 4px 4px 2px rgba(105, 101, 101, 0.6);
          margin: 0 auto;
          display: block;
          background: rgba(0, 0, 0, 0.5);
          text-align: center;
      }

      section.hero article a:link,
      a:visited {
          position: absolute;
          top: 120px;
          left: 200px;
          color: var(--green-primary);
          font-size: 1em;
          text-decoration: none;
          text-align: center;
          background-color: var(--white);
          padding: 10px 20px;
          border-radius: 10px;
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      }

      section.hero article a:hover {
          color: var(--brown-primary);
      }

      section.hero article.top-left {
          grid-row: 1/2;
      }

      section.hero article.bottom-left {
          grid-row: 2/3;
      }

      section.hero article.right {
          grid-row: 3/4;
      }

      section.hero article.right img {
          width: 100%;
      }

      .hero .hero-subheader {
          position: absolute;
          top: 380px;
          left: 10px;
          color: var(--red);
          background-color: var(--white);
          font-size: 1em;
          padding: 5px 20px;
          border-radius: 7px;
          text-align: center;
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      }

      main .scooter img {
          border-radius: 10px;
          width: 100%;
      }

  }