@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

/* CSS HEX */
:root {
    --mint: rgb(24, 94, 73);
    --brunswick-green: #14453dff;
    --white: #fff;
    --black: #01070c;
}

/*for small screens*/
@media screen and (min-width:450px) {
    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    header {
        margin: 0 auto 0 auto;
        display: flex;
        flex-basis: auto;
        background-color: var(--brunswick-green);
        color: var(--white);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header img {
        border-radius: 10px;
    }

    header h1 {
        text-align: center;
        margin: auto;
    }

    nav {
        background-color: #3d7137;
        margin: 0 auto 0 auto;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
        display: flex;
        display: block;

    }

    nav a:link {
        font-size: 14px;
        color: var(--white);
        text-decoration: none;
        padding: 10px;
        text-align: center;
        display: block;
        flex: 1 1 100%;
    }

    nav a:visited {
        color: var(--white);
    }

    nav a:hover {
        color: #c9e7f7;
    }

    main {
        margin: 0 auto 0 auto;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 100%;
    }

    main h2 {
        text-align: center;
    }

    main section.card {
        border: #045f41 solid 2px;
        border-radius: 7px;
        margin-bottom: 10px;
    }

    main section img {
        width: 100%;
    }


    main section.card h3 {
        background-color: var(--mint);
        color: var(--white);
        grid-column: 1/4;
        padding: 10px;
        margin: 0 auto 15px auto;
        text-align: center;
    }

    main section.card p {
        text-align: center;
    }

    main section.card ul li {
        list-style-type: none;
    }

    main section.card ul li a:link,
    a:visited {
        color: var(--black);
        list-style-type: none;
    }

    footer {
        max-width: 1000px;
        margin: 0 auto 0 auto;
        text-align: center;
        background-color: #045f41;
        color: var(--white);
        padding: 10px 0 10px 0;
    }

    footer p img {
        vertical-align: middle;
        border: var(--white) solid 1px;
    }
}

/*for medium screens*/
@media screen and (min-width:640px) {
    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    header {
        margin: 0 auto 0 auto;
        display: flex;
        flex-basis: auto;
        background-color: var(--brunswick-green);
        color: var(--white);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header img {
        border-radius: 10px;
    }

    header h1 {
        text-align: center;
        margin: auto;
    }

    nav {
        background-color: #3d7137;
        margin: 0 auto 0 auto;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
        display: flex;

    }

    nav a:link {
        font-size: 14px;
        color: var(--white);
        text-decoration: none;
        padding: 10px;
        text-align: center;
        display: block;
        flex: 1 1 100%;
    }

    nav a:visited {
        color: var(--white);
    }

    nav a:hover {
        color: #c9e7f7;
    }

    main {
        margin: 0 10px 0 10px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    main h2 {
        text-align: center;
        grid-column: 1/3;
    }

    main section.card {
        border: #045f41 solid 2px;
        border-radius: 7px;
        margin-bottom: 10px;
    }

    main section img {
        width: 100%;
    }

    main section:last-child {
        grid-column: 1/3;
    }

    main section.card h3 {
        background-color: var(--mint);
        color: var(--white);
        grid-column: 1/4;
        padding: 10px;
        margin: 0 auto 15px auto;
        text-align: center;
    }

    main section.card p {
        text-align: center;
    }

    main section.card ul li {
        list-style-type: none;
    }

    main section.card ul li a:link,
    a:visited {
        color: var(--black);
        list-style-type: none;
    }

    footer {
        max-width: 1000px;
        margin: 0 auto 0 auto;
        text-align: center;
        background-color: #045f41;
        color: var(--white);
        padding: 10px 0 10px 0;
    }

    footer p img {
        vertical-align: middle;
        border: var(--white) solid 1px;
    }
}

/*for large screens*/
@media screen and (min-width:1024px) {

    /* CSS HEX */
    :root {
        --mint: rgb(24, 94, 73);
        --brunswick-green: #14453dff;
        --white: #fff;
        --black: #01070c;
    }

    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    header {
        max-width: 1024px;
        margin: 0 auto 0 auto;
        display: grid;
        grid-template-columns: repeat(4, auto);
        background-color: var(--brunswick-green);
        color: var(--white);
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 7px;
    }

    header img {
        border-radius: 10px;
        grid-column: 1/2;
        margin-left: 200px;
    }

    header h1 {
        grid-column: 2/4;
        text-align: center;
        margin: auto;
    }

    nav {

        background-color: #3d7137;
        max-width: 1004px;
        margin: 0 auto 0 auto;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
        display: flex;

    }

    nav a:link {
        font-size: 17px;
        color: var(--white);
        text-decoration: none;
        margin: 5px 10px 5px 10px;
        padding: 5px 5px 5px 5px;
        text-align: center;
    }

    nav a:visited {
        color: var(--white);
    }

    nav a:hover {
        color: #c9e7f7;
    }

    main {
        margin: 0 auto 0 auto;
        border-radius: 5px;
        max-width: 1062px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    main h2 {
        grid-column: 1/4;
    }

    main section:last-child {
        grid-column: 3/4;
    }

    main section .card {
        border: #045f41 solid 2px;
        border-radius: 7px;
        margin-bottom: 10px;
    }

    main section .card h3 {
        background-color: var(--mint);
        color: var(--white);
        padding: 10px;
        margin: 0 auto 15px auto;
        text-align: center;
    }

    main section .card p {
        text-align: center;
    }

    main section .card ul li {
        list-style-type: none;
    }

    main section .card ul li a:link,
    a:visited {
        color: var(--black);
        list-style-type: none;
    }

    footer {
        max-width: 1024px;
        margin: 0 auto 0 auto;
        text-align: center;
        background-color: #045f41;
        color: var(--white);
        padding: 10px 0 10px 0;
    }

    footer p img {
        vertical-align: middle;
        border: var(--white) solid 1px;
    }
}

main section.card h3:hover {
    background-color: rgb(223, 235, 233);
    color: #045f41;
    cursor: pointer;
}

main section p {
    padding: 5px;
}