  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900');

  :root {
      --borderColor: rgb(70, 70, 112);
      --sectionBGColor: rgb(139, 139, 240);
      --headingColor: rgb(7, 7, 114);
      --bodyBGColor: rgb(195, 195, 248);

  }

  body {
      font-family: 'Lato', sans-serif;
      background-color: var(--bodyBGColor);
  }

  main {
      padding: 10px;
      box-sizing: border-box;
  }


  #cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  }

  h1,
  h2,
  p {
      color: var(--headingColor);
      text-align: center;
  }

  section {
      background-color: var(--sectionBGColor);
      border: var(--borderColor) solid 1px;
      margin: 10px 20px 10px 20px;
      padding: 20px;
      box-sizing: border-box;
      max-width: 430px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  img {
      margin: 0 auto;
      display: block;
      box-shadow: 0px 7px 38px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 7px 38px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 7px 38px 0px rgba(0, 0, 0, 0.75);
      border-radius: 7px;
  }

  footer {
      text-align: center;
  }


  @media screen and (max-width:911px) {

      section {
          margin: 0 auto;
      }



  }

  /*

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  */