@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto:wght@500&display=swap');

/*

For Mobile Devices – 320px — 480px
iPads and Tablets – 481px — 768px
Laptops and small screen – 769px — 1024px
Large screens and Desktops – 1025px — 1200px
TV and Extra Large Screens – 1201px and more
*/
:root {

  /* Variables for Chamber of Commerce site */
  --Marine-Admirals-1-hex: #40253E;
  --Marine-Admirals-2-hex: #3F1940;
  --Marine-Admirals-3-hex: #F0F2F2;
  --Marine-Admirals-4-hex: #BF3E21;
  --Marine-Admirals-5-hex: #401F1C;
  margin: 0;
  padding: 0;
}


body.container {
  font-family: Roboto;
  font-size: 1em;
  max-width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}


h1 {
  font-family: Montserrat;
  font-size: 2em;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 30px;
  background-color: var(--Marine-Admirals-3-hex);
  color: var(--Marine-Admirals-4-hex);
  position: relative;
}

#mode {
  position: absolute;
  top: 20px;
  right: 0px;
  cursor: pointer;
}

header .headerTitle {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 2em;
  padding: 5px;
  text-align: center;
  color: inherit;
}

header .logo img {
  padding: 5px;
  width: 100px;
}

#menu {
  font-size: 1.2rem;
  border: 1px solid var(--white);
  padding: 3px 7px 6px;
  background-color: var(--white);
  color: black;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❎";
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: var(--Marine-Admirals-4-hex);
  padding: 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.navigation li {
  display: none;
}

/*nav ul*/
.navigation li a:link,
a:visited {
  display: block;
  text-decoration: none;
  list-style: none;
  padding: 7px 35px;
  border-radius: 5px;
  color: var(--Marine-Admirals-3-hex);
  text-align: center;
}

.navigation li a:hover {
  background-color: var(--Marine-Admirals-3-hex);
  color: var(--Marine-Admirals-2-hex);
  transition: 0.35s ease-out;
}

.open li {
  display: block;
  width: 100%;
}

iframe {
  width: 100%;
}

.open li a {
  display: block;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
}

main .hero {
  width: 100%;
  box-sizing: border-box;
  border-radius: 7px;
  /*https://commons.wikimedia.org/wiki/File:Christchurch_Art_Gallery,_Christchurch,_New_Zealand.jpg*/
  margin-bottom: 20px;
  position: relative;
}

main .hero picture img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
}

.hero h1 {
  font-family: Roboto;
  font-size: 16px;
  color: var(--Marine-Admirals-4-hex);
  text-shadow: 2px 2px 5px rgb(105, 105, 105);
  position: absolute;
  left: 30px;
  top: 20px;
}

.hero p {
  text-shadow: 2px 2px 5px rgb(230, 227, 227);

  color: var(--Marine-Admirals-2-hex);
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: 30px;
  top: 50px;
}

.hero a:link,
a:visited {
  text-decoration: none;
  padding: 10px;
  background-color: var(--Marine-Admirals-5-hex);
  color: var(--Marine-Admirals-3-hex);
  border-radius: 7px;
  position: absolute;
  left: 30px;
  top: 90px;
}

.hero a:hover {
  color: var(--Marine-Admirals-3-hex);
  background-color: var(--Marine-Admirals-4-hex);
  box-shadow: 2px 2px 5px rgb(32, 32, 32);

}


.twoColumns {
  display: grid;
  grid-template-columns: 1fr;
  /*height: auto;*/
}

.twoColumns .news {
  grid-column: 1/2;
}

.twoColumns .gallery {
  padding: 10px;
  grid-column: 1/2;
}

.twoColumns .gallery img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 7px;
}

.firstRow {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  border-radius: 5px;
  color: var(--Marine-Admirals-3-hex);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.firstRow h2 {
  text-align: center;
  padding: 0;
  margin: 20px 0px 20px 0px;
  font-weight: 300;
}

.firstRow p {
  text-align: justify;
  color: var(--Marine-Admirals-1-hex);
  margin: 20px 0px;
}

p.textEnd {
  text-align: right;
  color: var(--Marine-Admirals-4-hex);
}

.firstRow .gallery,
.marketing,
.weather {
  border-radius: inherit;
  padding: 15px;
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 0 0;
  color: var(--Marine-Admirals-5-hex);

}

.firstRow .gallery {
  border: var(--Marine-Admirals-2-hex) solid 1px;
  background-image: url('../images/section-gallery.webp');
  background-size: 15%;

  /*https://commons.wikimedia.org/wiki/File:Gallery_display_of_American_paintings_formerly_in_the_collection_of_the_Corcoran_Gallery_of_Art,_now_at_the_National_Gallery_of_Art_in_Washington,_D.C.,_along_with_gallery_visitors.jpg*/
}

.firstRow .gallery:hover {
  border: var(--Marine-Admirals-4-hex) solid 2px;

}

.firstRow .marketing {
  border: var(--Marine-Admirals-2-hex) solid 1px;
  background-size: 15%;
  background-image: url('../images/section-events.webp');
  /*https://commons.wikimedia.org/wiki/File:Chinook_Breakfast_-_Pancake_Station_(5928204945).jpg*/
}

.firstRow .marketing:hover {
  border: var(--Marine-Admirals-4-hex) solid 2px;

}

.firstRow .weather .weatherwidget-io {
  width: 100%;
  border-radius: 7px;

}

p.textEnd a:link,
a:visited {
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 5px;
  color: var(--Marine-Admirals-3-hex);
  background-color: var(--Marine-Admirals-5-hex);

}

p.textEnd a:hover {
  color: var(--Marine-Admirals-3-hex);
  background-color: var(--Marine-Admirals-4-hex);
  transition: 0.25s ease-in;
  box-shadow: 2px 2px 5px rgb(32, 32, 32);
}



.secondRow {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  border-radius: 5px;
  color: white;
}


.secondRow .services {
  background-color: var(--Marine-Admirals-2-hex);
  padding: 20px;
  border-radius: inherit;
}

.secondRow .services h1 {
  margin: 0;
}

.secondRow .services p {
  text-align: justify;
}

.secondRow .services img {
  width: 100%;
}


.secondRow .events {
  background-color: var(--Marine-Admirals-2-hex);
  padding: 20px;
  border-radius: inherit;
}

.secondRow .events h1 {
  margin: 0;
}

.secondRow article.services p.textEnd a {
  background-color: var(--Marine-Admirals-3-hex);
  color: var(--Marine-Admirals-2-hex);
}

.secondRow article.services p.textEnd a:hover {
  background-color: var(--Marine-Admirals-4-hex);
  color: white;
  box-shadow: 2px 2px 5px rgb(145, 143, 143);

}

.secondRow .events p {
  text-align: justify;
}

.secondRow .events img {
  width: 100%;

}

.secondRow article.events p.textEnd a {
  background-color: var(--Marine-Admirals-3-hex);
  color: var(--Marine-Admirals-2-hex);
}

.secondRow article.events p.textEnd a:hover {
  background-color: var(--Marine-Admirals-4-hex);
  color: white;
  box-shadow: 2px 2px 5px rgb(145, 143, 143);
}

.thirdRow {
  display: grid;
  grid-template-columns: 1fr;
}

article.weather h2 {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}


.banner h3 {
  color: white;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--Marine-Admirals-2-hex);
  padding: 15px;
  border-radius: 10px;
}

.banner {
  position: relative;
}

.banner #bannerClose {
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--Marine-Admirals-3-hex);
  font-weight: bold;
  z-index: 10;
}

#bannerClose:hover {
  cursor: pointer;
}

.windInput {
  border-radius: 7px;
  padding: 8px;
  border: var(--Marine-Admirals-1-hex) solid 1px;
  margin-bottom: 15px;
  font-size: 13px;
  color: var(--Marine-Admirals-1-hex);
}

#btnCalculate {
  border-radius: 7px;
  padding: 3px 20px;
  margin-bottom: 15px;
}

.windLabel {
  display: block;
  margin-bottom: 3px;
}

.weatherAPI div {
  padding: 0px 15px;
  margin: 0 0 10px 0;
  display: block;
  border-radius: 10px;
  border: rgb(170, 168, 168) solid 1px;
  background-color: rgb(226, 220, 220);
}

.weatherAPI p {
  font-size: 11px;
  float: left;

}

/*join page styles*/
main.joinMain {
  max-width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  padding: 10px;
}

main.joinMain article {
  padding: 10px;
  box-sizing: border-box;
}

form {
  color: var(--Marine-Admirals-4-hex);
  font-weight: 550;
}

form fieldset {
  border-radius: 10px;
  border: var(--Marine-Admirals-4-hex) solid 1px;
  margin-bottom: 15px;
}

form legend {
  padding: 5px;
  color: var(--Marine-Admirals-4-hex)
}


form label.top {
  display: block;
  margin-bottom: 25px;
}

form label.sbs {
  margin-bottom: 10px;
  display: block;
}

form label.top input {
  display: block;
  margin-top: 5px;
  border-radius: 7px;
  height: 40px;
  padding-left: 5px;
  width: 100%;
  box-sizing: border-box;
  border: var(--Marine-Admirals-5-hex) 1px solid;
}

form label.top input:required {
  border: var(--Marine-Admirals-4-hex) 1px solid;
  border-left: var(--Marine-Admirals-4-hex) 5px solid;

}

form label.top input:required:valid {
  border: green 1px solid;
  border-left: green 5px solid;

}

form label textarea {
  border-radius: 7px;
}

#btnSubmit {
  height: 45px;
  border-radius: 7px;
  border: var(--Marine-Admirals-2-hex) 2px solid;
  color: var(--Marine-Admirals-2-hex);
  width: 100%;
  box-sizing: border-box;
}

.benefits h2 {
  text-align: center;
}

.benefits dt {
  font-weight: bold;
  margin-bottom: 7px;
}

.benefits dd {
  margin-bottom: 30px;
}

/*Styles for thank you page*/
main.thankYou {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

/*styles for directory page*/

.menu {
  text-align: center;
  margin-bottom: 15px;
}
.directory {
  max-width: 1150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}

.directory div {
  font-size: 80%;
  max-width: 320px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--Marine-Admirals-3-hex);
  margin: 10px;
  text-align: center;
  border-radius: 7px;
  box-shadow: -2px 0px 26px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 0px 26px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 26px -8px rgba(0, 0, 0, 0.75);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directory div img {
  border-radius: 7px;
}

.list {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr;

}

.list div {
  font-size: 80%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--Marine-Admirals-3-hex);
  margin: 10px auto;
  text-align: center;
  border-radius: 7px;
  box-shadow: -2px 0px 26px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 0px 26px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 26px -8px rgba(0, 0, 0, 0.75);
  width: 100%;

}

.list div img {
  display: none;
}

.fadeIn:hover {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.directory div p a:link,
a:visited {
  text-decoration: none;
  padding: 3px;
  color: var(--Marine-Admirals-4-hex);
  border-radius: 5px;
}

/*general page styles*/
footer {
  background-color: var(--Marine-Admirals-4-hex);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: var(--Marine-Admirals-3-hex);
  display: grid;
  grid-template-columns: 1fr;
  font-size: 13px;
  padding: 15px;
}

footer p.author {
  text-align: center;
}


footer p.flag {
  width: 200px;
  margin: 10px auto;
  float: left;
}

footer p.flag {
  width: 200px;
  margin: 10px auto;
  float: left;
}

footer p.flag img {
  width: 50px;
  border: 1px solid white;
  float: left;
  margin-top: -10px;
  margin-right: 20px;
}

footer p.lasModified {
  margin: 0 auto;
}