@media screen and (min-width: 1024px) {

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        background-color: var(--Marine-Admirals-4-hex);
        padding: 10px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .navigation li {
        display: block;
    }

    #menu {
        display: none;
    }

    main {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    main .hero {
        width: 100%;
        box-sizing: border-box;
        border-radius: 7px;
        /*https://commons.wikimedia.org/wiki/File:Christchurch_Art_Gallery,_Christchurch,_New_Zealand.webp*/
        margin-bottom: 20px;
        position: relative;

    }

    main .hero picture img {
        width: 100%;
        border-radius: 5px;
        height: 100%;

    }

    .hero h1 {
        font-family: Roboto;
        font-size: 30px;
        color: var(--Marine-Admirals-4-hex);
        text-shadow: 2px 2px 5px rgb(105, 105, 105);
        position: absolute;
        left: 30px;
        top: 0px;
    }

    .hero p {
        color: var(--Marine-Admirals-2-hex);
        font-size: 18px;
        font-weight: 500;
        position: absolute;
        left: 30px;
        top: 50px;
    }

    .hero a:link,
    a:visited {
        text-decoration: none;
        padding: 10px;
        background-color: var(--Marine-Admirals-5-hex);
        color: var(--Marine-Admirals-3-hex);
        border-radius: 7px;
        position: absolute;
        left: 30px;
        top: 130px;
    }

    .hero a:hover {
        color: var(--Marine-Admirals-3-hex);
        background-color: var(--Marine-Admirals-4-hex);
        box-shadow: 2px 2px 5px rgb(32, 32, 32);
    }

    .twoColumns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
    }

    .twoColumns .news {
        grid-column: 1/2;
    }

    .twoColumns .gallery {
        padding: 10px;
        grid-column: 2/4;
    }

    .twoColumns .gallery img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        border-radius: 7px;
    }

    .gallery img:hover {
        box-shadow: 0 0 10px #333;
    }

    .firstRow {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        min-height: 250px;
        gap: 15px;
        border-radius: 5px;
        color: var(--Marine-Admirals-3-hex);
        margin-bottom: 20px;
    }

    .firstRow h2 {
        text-align: center;
        padding: 0;
        margin: 0;
        font-weight: 200;
    }

    .firstRow p {
        text-align: justify;
        color: var(--Marine-Admirals-1-hex);
    }

    p.textEnd {
        text-align: right;
        color: var(--Marine-Admirals-4-hex);
    }

    .firstRow .gallery,
    .marketing,
    .weather {
        border-radius: inherit;
        padding: 15px;
        background-position: center;
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: 0 0;
        color: var(--Marine-Admirals-5-hex);

    }

    .firstRow .gallery {
        border: var(--Marine-Admirals-2-hex) solid 1px;
        background-image: url('../images/section-gallery.webp');
        /*https://commons.wikimedia.org/wiki/File:Gallery_display_of_American_paintings_formerly_in_the_collection_of_the_Corcoran_Gallery_of_Art,_now_at_the_National_Gallery_of_Art_in_Washington,_D.C.,_along_with_gallery_visitors.webp*/
    }

    .firstRow .gallery:hover {
        border: var(--Marine-Admirals-4-hex) solid 2px;

    }

    .firstRow .marketing {
        border: var(--Marine-Admirals-2-hex) solid 1px;
        background-image: url('../images/section-events.webp');
        /*https://commons.wikimedia.org/wiki/File:Chinook_Breakfast_-_Pancake_Station_(5928204945).webp*/
    }

    .firstRow .marketing:hover {
        border: var(--Marine-Admirals-4-hex) solid 2px;
    }

    .firstRow .weather {
        border-radius: 7px;
    }

    p.textEnd a:link,
    a:visited {
        text-decoration: none;
        padding: 7px 15px;
        border-radius: 5px;
        color: var(--Marine-Admirals-3-hex);
        background-color: var(--Marine-Admirals-5-hex);

    }

    p.textEnd a:hover {
        color: var(--Marine-Admirals-3-hex);
        background-color: var(--Marine-Admirals-4-hex);
        transition: 0.25s ease-in;
        box-shadow: 2px 2px 5px rgb(32, 32, 32);
    }



    .secondRow {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        border-radius: 5px;
        color: white;
    }


    .secondRow .services {
        background-color: var(--Marine-Admirals-2-hex);
        padding: 20px;
        border-radius: inherit;
    }

    .secondRow .services h1 {
        margin: 0;
    }

    .secondRow .services p {
        text-align: justify;
    }

    .secondRow .services img {
        width: 100%;

    }


    .secondRow .events {
        background-color: var(--Marine-Admirals-2-hex);
        padding: 20px;
        border-radius: inherit;
    }

    .secondRow .events h1 {
        margin: 0;
    }

    .secondRow article.services p.textEnd a {
        background-color: var(--Marine-Admirals-3-hex);
        color: var(--Marine-Admirals-2-hex);
    }

    .secondRow article.services p.textEnd a:hover {
        background-color: var(--Marine-Admirals-4-hex);
        color: white;
        box-shadow: 2px 2px 5px rgb(145, 143, 143);

    }

    .secondRow .events p {
        text-align: justify;
    }

    .secondRow .events img {
        width: 100%;

    }

    .secondRow article.events p.textEnd a {
        background-color: var(--Marine-Admirals-3-hex);
        color: var(--Marine-Admirals-2-hex);
    }

    .secondRow article.events p.textEnd a:hover {
        background-color: var(--Marine-Admirals-4-hex);
        color: white;
        box-shadow: 2px 2px 5px rgb(145, 143, 143);
    }

    /*join page styles*/
    main.joinMain {
        max-width: 950px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
        padding: 10px;
    }

    main.joinMain article {
        padding: 10px;
        box-sizing: border-box;
    }

    form {
        color: var(--Marine-Admirals-4-hex);
        font-weight: 550;
    }

    form fieldset {
        border-radius: 10px;
        border: var(--Marine-Admirals-4-hex) solid 1px;
        margin-bottom: 15px;
    }

    form legend {
        padding: 5px;
        color: var(--Marine-Admirals-4-hex)
    }


    form label.top {
        display: block;
        margin-bottom: 25px;
    }

    form label.sbs {
        margin-bottom: 10px;
        display: block;
    }

    form label.top input {
        display: block;
        margin-top: 5px;
        border-radius: 7px;
        height: 40px;
        padding-left: 5px;
        width: 100%;
        box-sizing: border-box;
        border: var(--Marine-Admirals-5-hex) 1px solid;
    }

    form label.top input:required {
        border: var(--Marine-Admirals-4-hex) 1px solid;
        border-left: var(--Marine-Admirals-4-hex) 5px solid;

    }

    form label.top input:required:valid {
        border: green 1px solid;
        border-left: green 5px solid;

    }

    form label textarea {
        border-radius: 7px;
    }

    #btnSubmit {
        height: 45px;
        border-radius: 7px;
        border: var(--Marine-Admirals-2-hex) 2px solid;
        color: var(--Marine-Admirals-2-hex);
        width: 100%;
        box-sizing: border-box;
    }

    .benefits h2 {
        text-align: center;
    }

    .benefits dt {
        font-weight: bold;
        margin-bottom: 7px;
    }

    .benefits dd {
        margin-bottom: 30px;
    }

    /*Styles for thank you page*/
    main.thankYou {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }

    footer {
        background-color: var(--Marine-Admirals-4-hex);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        color: var(--Marine-Admirals-3-hex);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 13px;
        padding: 15px;
    }

    footer p.author {
        text-align: center;
    }


    footer p.flag {
        width: 200px;
        margin: 10px auto;
        float: left;
    }

    footer p.flag {
        width: 200px;
        margin: 10px auto;
        float: left;
    }

    footer p.flag img {
        width: 50px;
        border: 1px solid white;
        float: left;
        margin-top: -10px;
        margin-right: 20px;
    }

    footer p.lasModified {
        margin: 0 auto;
    }
}