@media screen and (min-width: 640px) and (max-width:1024px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        background-color: var(--Marine-Admirals-4-hex);
        padding: 10px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .navigation li {
        display: block;
    }

    .navigation li a:link,
    a:visited {
        display: block;
        text-decoration: none;
        list-style: none;
        padding: 7px 35px;
        border-radius: 5px;
        color: var(--Marine-Admirals-3-hex);
        text-align: center;
    }

    .twoColumns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
    }

    .twoColumns .news {
        grid-column: 1/2;
    }

    .twoColumns .gallery {
        padding: 10px;
        grid-column: 2/3;
    }

    .twoColumns .gallery img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        border-radius: 7px;
    }

    .gallery img:hover {
        box-shadow: 0 0 10px #333;
    }

    .firstRow {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 200px;
        border-radius: 5px;
        color: var(--Marine-Admirals-3-hex);
    }

    .firstRow .gallery {
        background-size: 20%;
        grid-column: 1/2;
        margin-bottom: 20px;
    }

    .firstRow .marketing {
        background-size: 20%;
        grid-column: 2/3;
        margin-bottom: 20px;
    }

    .firstRow .weather {
        border-radius: 7px;
        grid-column: 1/3;
    }

    .secondRow {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 5px;
        color: white;
    }

    .secondRow .services {
        grid-column: 1/2;

    }

    .secondRow .events {
        grid-column: 2/3;

    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
    }
}