@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

/* CSS HEX */
:root {
    --deep-sky-blue: #48beffff;
    --aqua: #3dfaffff;
    --mint: #43c59eff;
    --myrtle-green: #3d7068ff;
    --brunswick-green: #14453dff;
    --white: #fff;
    --black: #051e33;
    --gray-one: #7e7c7c;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--brunswick-green);
    color: var(--white);
}

header {
    max-width: 1000px;
    margin: 0 auto 15px auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

header img {
    border-radius: 10px;
    grid-column: 1/2;
}

header h1 {
    grid-column: 2/4;
    text-align: center;
    margin: auto;
}

nav {
    background-color: var(--myrtle-green);
    max-width: 980px;
    margin: 0 auto 0 auto;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

nav a:link,
a:visited {
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    margin: 5px 10px 5px 10px;
    padding: 5px 5px 5px 5px;
    /*display: block;*/
    text-align: center;
}

nav a:hover {
    color: var(--brunswick-green);
    background-color: var(--white);
    border-radius: 5px;
}

main {
    background-color: var(--black);
    max-width: 1000px;
    margin: 0 auto 0 auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

main h2 {
    grid-column: 1/4;
    text-align: center;
}

main section.card {
    grid-column: 1/4;
}

main section.card h3 {
    background-color: var(--mint);
    color: var(--white);
    grid-column: 1/4;
    padding: 10px;
    margin: 5px auto 15px auto;
    text-align: center;
}

main section.card p {
    text-align: center;
}

main section.card ul li {
    list-style-type: none;
}

main section.card ul li a:link {
    text-decoration: none;

}

footer {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    text-align: center;
}

footer p img {
    vertical-align: middle;
}