:root {
    --brown: #965823;
    --green: #03793e;
    --grey: #5f6168;
    --black: #000000;
    --red: #f70707;
}

body {
    font-family: Arial;
    font-size: 1rem;
}

main.join {
    display: block;
}

main.join {
    max-width: 500px;
    margin: 0 auto 20px auto;
}

main h1 {
    color: var(--grey);
}

legend {
    color: var(--brown);
    padding: 5px;
}


fieldset {
    border: var(--brown) solid 1px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 20px;
}

label {
    margin: 0 0 15px 0;
    display: block;
    color: var(--green);
}

input {
    display: block;
    height: 35px;
    border: var(--green) solid 1px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    padding-left: 5px;
}

input:required {
    border-left: var(--red) solid 5px;
}

input:required:valid {
    border-left: var(--green) solid 5px;
}


.btnSumbit {
    width: 100%;
    max-width: 300px;
    height: 35px;
    color: var(--green);
}

table tr {
    background-color: #9c9999;
    height: 50px;
}